<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

  <bean id="firstbean" class="PojoForApplicationContextAware" name="firstbeanAlias" autowire="byName">

 </bean>
	<bean id="pointClassA" class="PointClass">
				<property name ="x" value="10"/>
				<property name ="y" value="10"/>
			</bean>
		
		 <bean id="pointClassB" class="PointClass">
					<property name ="x" value="20"/>
					<property name ="y" value="20"/>
	 	</bean>

					  		<bean id="pointClassC" class="PointClass">
						    		            <property name ="x" value="30"/>
								                   	<property name ="y" value="30"/>
						 		</bean>


 
<bean id ="secondbean" class="PojoForApplicationContextAware">
<property name="rollnum" value="455"/>
<property name="pointClassA" ref="pointA"/>
<property name="pointClassB" ref="pointB"/>
 <property name="pointClassC" ref="pointC"/>
  
 </bean>
  <bean id="pointA" class="PointClass">
					<property name ="x" value="20"/>
					<property name ="y" value="20"/>
	 	</bean>
 
  <bean id="pointA" class="PointClass">
					<property name ="x" value="20"/>
					<property name ="y" value="20"/>
	 	</bean>
   <bean id="pointA" class="PointClass">
					<property name ="x" value="20"/>
					<property name ="y" value="20"/>
	 	</bean>
  

	
		
		
 
</beans>
